.ResourceCompiler {
	background-image:url("file://{resources}/images/ui/controller/button.png");
	background-image:url("file://{resources}/images/ui/controller/button_shift.png");
	background-image:url("file://{resources}/images/ui/controller/mouse_l.png");
	background-image:url("file://{resources}/images/ui/controller/mouse_r.png");

}